USE [master]
GO
/****** Object:  Database [reserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
CREATE DATABASE [reserva]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reserva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reserva]
GO
/****** Object:  StoredProcedure [dbo].[deletecancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deletecancha]
	@cancha_id int
as
update cancha 
set activo = 0, fecha_modificacion = GETDATE()
where cancha_id = @cancha_id








GO
/****** Object:  StoredProcedure [dbo].[deleteReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteReserva]
	@reserva_id int
as
update reserva 
set activo = 0, fecha_modificacion = GETDATE()
where reserva_id = @reserva_id








GO
/****** Object:  StoredProcedure [dbo].[deleteUsuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[deleteUsuario](@usuario_id int)
as
update usuario 
set activo = 0, fecha_modificacion = GETDATE()
where usuario_id = @usuario_id








GO
/****** Object:  StoredProcedure [dbo].[getCanchaPorId]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCanchaPorId](@cancha_id int)
AS
/*
Obtiene Cancha por ID
exec getCanchaPorId 9
*/
begin
	select c.cancha_descripcion,
	c.Cancha_ImagenUrl,
	c.cancha_nombre,
	c.Cancha_PrecioxHora,
	c.cancha_tipo_id,
	c.cancha_distrito_id,
	tmd.tablamaestradetalle_descripcion TipoCancha,
	tmd2.tablamaestradetalle_descripcion cancha_distrito
	from cancha c inner join tablamaestradetalle tmd
	on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id = 1 and tmd.activo = 1
	inner join tablamaestradetalle tmd2
	on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id = 2 and tmd2.activo = 1
	where c.cancha_id = @cancha_id
end
GO
/****** Object:  StoredProcedure [dbo].[insertCancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertCancha] 
	 @cancha_usuario_id int,
	 @cancha_nombre varchar(100),
	 @cancha_descripcion varchar(200),
	 @cancha_tipo_id int,
	 @cancha_distrito_id int,
	 @cancha_precio decimal(6,2),
	 @cancha_url_imagen varchar(200)

As
INSERT INTO dbo.cancha
           (cancha_usuario_id           ,cancha_nombre
           ,cancha_descripcion          ,cancha_tipo_id			,cancha_distrito_id
		   ,activo						,Cancha_PrecioxHora		,Cancha_ImagenUrl
           ,usuario_creacion			,fecha_creacion)
     VALUES
           (@cancha_usuario_id          ,@cancha_nombre
           ,@cancha_descripcion         ,@cancha_tipo_id,	@cancha_distrito_id        
		   ,1							,@cancha_precio		,@cancha_url_imagen
           ,'master'					,GETDATE())








GO
/****** Object:  StoredProcedure [dbo].[insertReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertReserva]
	@reserva_fecha datetime, @reserva_horainicio time, @reserva_horafin time,
	@reserva_canchaid int,@reserva_cliente_dni varchar(10), @reserva_cliente_nombre varchar(50),
	@reserva_cliente_apellido varchar(50), @reserva_cliente_email varchar(50),@reserva_cliente_telefono varchar(50),
	@reserva_cliente_celular varchar(12)
as
INSERT INTO [dbo].[reserva]
           ([reserva_fecha]
           ,[reserva_horainicio]
           ,[reserva_horafin]
           ,[reserva_canchaid]
           ,[reserva_cliente_dni]
           ,[reserva_cliente_nombre]
           ,[reserva_cliente_apellido]
           ,[reserva_cliente_email]
           ,[reserva_cliente_telefono]
           ,[reserva_cliente_celular]
           ,[activo]
           ,[usuario_creacion]
           ,[fecha_creacion]
           )
     VALUES
           (@reserva_fecha
           ,@reserva_horainicio
           ,@reserva_horafin
           ,@reserva_canchaid
           ,@reserva_cliente_dni
           ,@reserva_cliente_nombre
           ,@reserva_cliente_apellido
           ,@reserva_cliente_email
           ,@reserva_cliente_telefono
           ,@reserva_cliente_celular
           ,1
           ,'master'
           ,GETDATE()
           )








GO
/****** Object:  StoredProcedure [dbo].[insertUsuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertUsuario]
			@usuario_nombre varchar(50)
           ,@usuario_contraseña varchar(50)           ,@usuario_razonsocial varchar(50)
           ,@usuario_ruc varchar(12)           ,@usuario_email varchar(50)
           ,@usuario_telefono varchar(12)           ,@usuario_foto_url varchar(50)
           ,@usuario_presentacion varchar(500)           
as
insert into dbo.usuario
		(
			usuario_nombre 
           ,usuario_contraseña          ,usuario_razonsocial 
           ,usuario_ruc					,usuario_email
           ,usuario_telefono            ,usuario_foto_url 
           ,usuario_presentacion        ,activo 
		   ,fecha_creacion				,usuario_creacion
		   )
values(
			@usuario_nombre
           ,@usuario_contraseña         ,@usuario_razonsocial
           ,@usuario_ruc				,@usuario_email
           ,@usuario_telefono           ,@usuario_foto_url
           ,@usuario_presentacion       ,1
		   ,GETDATE()					,'master'
)








GO
/****** Object:  StoredProcedure [dbo].[ListarReservasByCalendar]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListarReservasByCalendar](
@cancha_Id int,
@Fecha_Inicio varchar(20),
@Fecha_Fin varchar(20)
)
AS
/*
Descripcion: Lista todos los eventos para el calendario
EXEC ListarReservasByCalendar 9,'20170801','20170803'
*/
BEGIN
select r.reserva_id IdReserva
,convert(varchar(20),r.reserva_fecha_inicio,20) FechaInicio
,convert(varchar(20),r.reserva_fecha_fin,20) FechaFin
,r.reserva_descripcion Titulo
,r.reserva_id_estado IdEstado
,r.reserva_Cliente_nombre ClienteNombre
,r.reserva_canchaid IdCancha
from reserva r
where r.reserva_canchaid = @cancha_Id
and convert (varchar(30),r.reserva_fecha_inicio,112) >= @Fecha_Inicio
and convert (varchar(30),r.reserva_fecha_fin,112) <= @Fecha_Fin
END

GO
/****** Object:  StoredProcedure [dbo].[selectAllCancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectAllCancha]
as
select c.cancha_id		,c.cancha_nombre		,c.cancha_descripcion
,c.cancha_usuario_id	,c.Cancha_ImagenUrl		,c.Cancha_PrecioxHora
,c.cancha_usuario_id	,c.cancha_tipo_id		,c.cancha_distrito_id,
tmd.tablamaestradetalle_descripcion cancha_tipo,
tmd2.tablamaestradetalle_descripcion cancha_distrito
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
inner join tablamaestradetalle tmd2 on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id=2
where c.activo =1


GO
/****** Object:  StoredProcedure [dbo].[selectAllCanchaxDistrito]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllCanchaxNombreCancha]
	@cancha_nombre varchar(50)
as
select c.cancha_id		,c.cancha_nombre		,c.cancha_descripcion
,c.cancha_usuario_id	,c.Cancha_ImagenUrl		,c.Cancha_PrecioxHora
,c.cancha_usuario_id	,c.cancha_tipo_id		,c.cancha_distrito_id,
tmd.tablamaestradetalle_descripcion cancha_tipo,
tmd2.tablamaestradetalle_descripcion cancha_distrito
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
inner join tablamaestradetalle tmd2 on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id=2
where c.cancha_nombre = @cancha_nombre and c.activo =1







GO
/****** Object:  StoredProcedure [dbo].[selectAllCanchaxDistritoId]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllCanchaxDistritoId]
	@cancha_distrito_id int
as
select c.cancha_id		,c.cancha_nombre		,c.cancha_descripcion
,c.cancha_usuario_id	,c.Cancha_ImagenUrl		,c.Cancha_PrecioxHora
,c.cancha_usuario_id	,c.cancha_tipo_id		,c.cancha_distrito_id,
tmd.tablamaestradetalle_descripcion cancha_tipo,
tmd2.tablamaestradetalle_descripcion cancha_distrito
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
inner join tablamaestradetalle tmd2 on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id=2
where c.cancha_distrito_id = @cancha_distrito_id and c.activo =1







GO
/****** Object:  StoredProcedure [dbo].[selectAllCanchaxDistritoIdDistritoName]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectAllCanchaxDistritoIdDistritoName]
	@cancha_nombre varchar(100), @cancha_distrito_id int
as
select c.cancha_id		,c.cancha_nombre		,c.cancha_descripcion
,c.cancha_usuario_id	,c.Cancha_ImagenUrl		,c.Cancha_PrecioxHora
,c.cancha_usuario_id	,c.cancha_tipo_id		,c.cancha_distrito_id,
tmd.tablamaestradetalle_descripcion cancha_tipo,
tmd2.tablamaestradetalle_descripcion cancha_distrito
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
inner join tablamaestradetalle tmd2 on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id=2
where c.cancha_nombre like '%'+@cancha_nombre+'%' and c.cancha_distrito_id = @cancha_distrito_id and c.activo =1














GO
/****** Object:  StoredProcedure [dbo].[selectAllCanchaxUsuarioId]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[selectAllCanchaxUsuarioId]
	@cancha_usuario_id int
as
select c.cancha_id		,c.cancha_nombre		,c.cancha_descripcion
,c.cancha_usuario_id	,c.Cancha_ImagenUrl		,c.Cancha_PrecioxHora
,c.cancha_usuario_id	,c.cancha_tipo_id		,c.cancha_distrito_id,
tmd.tablamaestradetalle_descripcion cancha_tipo,
tmd2.tablamaestradetalle_descripcion cancha_distrito
from dbo.cancha c
inner join tablamaestradetalle tmd on tmd.tablamaestradetalle_descripcion_id = c.cancha_tipo_id and tmd.tablamaestra_id=1
inner join tablamaestradetalle tmd2 on tmd2.tablamaestradetalle_descripcion_id = c.cancha_distrito_id and tmd2.tablamaestra_id=2
where c.cancha_usuario_id = @cancha_usuario_id and c.activo =1







GO
/****** Object:  StoredProcedure [dbo].[selectAllDistrito]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectAllDistrito]
as
select c.tablamaestradetalle_descripcion_id cancha_distrito_id,
c.tablamaestradetalle_descripcion cancha_distrito
from dbo.tablamaestradetalle c
where c.tablamaestra_id =2


GO
/****** Object:  StoredProcedure [dbo].[selectAllReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[selectAllReserva]
as
select * from dbo.reserva








GO
/****** Object:  StoredProcedure [dbo].[selectAllServicio]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectAllServicio]
as
select c.tablamaestradetalle_descripcion_id cancha_servicio_id,
c.tablamaestradetalle_descripcion cancha_servicio
from dbo.tablamaestradetalle c
where c.tablamaestra_id =3


GO
/****** Object:  StoredProcedure [dbo].[selectAllTipoCancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectAllTipoCancha]
as
select c.tablamaestradetalle_descripcion_id cancha_tipo_id,
c.tablamaestradetalle_descripcion cancha_tipo
from dbo.tablamaestradetalle c
where c.tablamaestra_id =1


GO
/****** Object:  StoredProcedure [dbo].[selectAllUsuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectAllUsuario]
as
select * from dbo.usuario








GO
/****** Object:  StoredProcedure [dbo].[selectCancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectCancha] @cancha_nombre int
as
select * from dbo.cancha 
where cancha_nombre = @cancha_nombre








GO
/****** Object:  StoredProcedure [dbo].[selectReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[selectReserva]
	@reserva_id int
as
select * from dbo.reserva
where reserva_id = @reserva_id








GO
/****** Object:  StoredProcedure [dbo].[selectUsuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selectUsuario] (@usuario_nombre int)
as
select * from dbo.usuario
where usuario_nombre = @usuario_nombre








GO
/****** Object:  StoredProcedure [dbo].[updateCancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[updateCancha](
	@cancha_id int,
	@cancha_usuario_id int, @cancha_nombre varchar(100),
	@cancha_descripcion varchar(200), @cancha_tipo_id int)
As
update cancha
set 		
            cancha_usuario_id = @cancha_usuario_id           ,cancha_nombre = @cancha_nombre
           ,cancha_descripcion = @cancha_descripcion           ,cancha_tipo_id = @cancha_tipo_id
           ,fecha_modificacion = GETDATE()		   
where cancha_id = @cancha_id








GO
/****** Object:  StoredProcedure [dbo].[updateReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateReserva]
	@reserva_id int, @reserva_fecha datetime, @reserva_horainicio time, @reserva_horafin time,
	@reserva_canchaid int,@reserva_cliente_dni varchar(10), @reserva_cliente_nombre varchar(50),
	@reserva_cliente_apellido varchar(50), @reserva_cliente_email varchar(50),@reserva_cliente_telefono varchar(50),
	@reserva_cliente_celular varchar(12)
as
UPDATE [dbo].[reserva]
   SET [reserva_fecha] = @reserva_fecha
      ,[reserva_horainicio] = @reserva_horainicio
      ,[reserva_horafin] = @reserva_horafin
      ,[reserva_canchaid] = @reserva_canchaid
      ,[reserva_cliente_dni] = @reserva_cliente_dni
      ,[reserva_cliente_nombre] = @reserva_cliente_nombre
      ,[reserva_cliente_apellido] = @reserva_cliente_apellido
      ,[reserva_cliente_email] = @reserva_cliente_email
      ,[reserva_cliente_telefono] = @reserva_cliente_telefono
      ,[reserva_cliente_celular] = @reserva_cliente_celular
      ,[fecha_modificacion] = GETDATE()
 WHERE reserva_id = @reserva_id








GO
/****** Object:  StoredProcedure [dbo].[updateUsuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateUsuario]
			@usuario_id int						,@usuario_nombre varchar(50)
           ,@usuario_contraseña varchar(50)     ,@usuario_razonsocial varchar(50)
           ,@usuario_ruc varchar(12)			,@usuario_email varchar(50)
           ,@usuario_telefono varchar(12)       ,@usuario_foto_url varchar(50)
           ,@usuario_presentacion varchar(500)           
as
update usuario
set
			usuario_nombre =@usuario_nombre
           ,usuario_contraseña =@usuario_contraseña         ,usuario_razonsocial =@usuario_razonsocial
           ,usuario_ruc =@usuario_ruc						,usuario_email =@usuario_email
           ,usuario_telefono =@usuario_telefono				,usuario_foto_url =@usuario_foto_url
           ,usuario_presentacion =@usuario_presentacion		,fecha_modificacion =GETDATE()
where
usuario_id  = @usuario_id








GO
/****** Object:  StoredProcedure [dbo].[usp_InsertaReserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_InsertaReserva](
@reserva_fecha_inicio datetime,
@reserva_fecha_fin datetime,
@reserva_canchaid int,
@reserva_descripcion varchar(250),
@reserva_cliente_dni varchar(10),
@reserva_cliente_nombre varchar(250),
@reserva_cliente_email varchar(50),
@reserva_cliente_celular varchar(20),
@reserva_acepta_terminos bit,
@reserva_tipo_pago varchar(10),
@reserva_precio_total decimal(10,2)
)
AS
BEGIN
	insert into reserva(
	reserva_fecha_inicio,
	reserva_fecha_fin,
	reserva_canchaid,
	reserva_descripcion,
	reserva_cliente_dni,
	reserva_cliente_nombre,
	reserva_cliente_email,
	reserva_cliente_celular,
	reserva_acepta_terminos,
	reserva_tipo_pago,
	reserva_precio_total,
	activo,
	fecha_creacion,
	usuario_creacion,
	reserva_id_estado	
	)
	values(
	@reserva_fecha_inicio,
	@reserva_fecha_fin,
	@reserva_canchaid,
	@reserva_descripcion ,
	@reserva_cliente_dni ,
	@reserva_cliente_nombre ,
	@reserva_cliente_email ,
	@reserva_cliente_celular ,
	@reserva_acepta_terminos ,
	@reserva_tipo_pago ,
	@reserva_precio_total,
	1,
	getdate(),
	'master',
	1	
	)
END












GO
/****** Object:  Table [dbo].[cancha]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cancha](
	[cancha_id] [int] IDENTITY(1,1) NOT NULL,
	[cancha_usuario_id] [int] NOT NULL,
	[cancha_nombre] [varchar](100) NULL,
	[cancha_descripcion] [varchar](200) NULL,
	[cancha_tipo_id] [int] NOT NULL,
	[cancha_distrito_id] [int] NULL,
	[activo] [bit] NOT NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[Cancha_PrecioxHora] [decimal](6, 2) NULL,
	[Cancha_ImagenUrl] [varchar](200) NULL,
 CONSTRAINT [PK_cancha] PRIMARY KEY CLUSTERED 
(
	[cancha_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reserva](
	[reserva_id] [int] IDENTITY(1,1) NOT NULL,
	[reserva_fecha_inicio] [datetime] NULL,
	[reserva_fecha_fin] [datetime] NULL,
	[reserva_canchaid] [int] NULL,
	[reserva_descripcion] [varchar](250) NULL,
	[reserva_cliente_dni] [varchar](10) NOT NULL,
	[reserva_cliente_nombre] [varchar](50) NULL,
	[reserva_cliente_apellido] [varchar](50) NULL,
	[reserva_cliente_email] [varchar](50) NULL,
	[reserva_cliente_telefono] [varchar](12) NULL,
	[reserva_cliente_celular] [varchar](12) NULL,
	[reserva_cliente_ruc] [varchar](20) NULL,
	[reserva_con_factura] [bit] NULL,
	[reserva_acepta_terminos] [bit] NULL,
	[reserva_tipo_pago] [varchar](10) NULL,
	[reserva_precio_total] [decimal](10, 2) NULL,
	[reserva_id_estado] [int] NULL,
	[activo] [bit] NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [PK_reserva] PRIMARY KEY CLUSTERED 
(
	[reserva_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tabla_maestra]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tabla_maestra](
	[tablamaestra_id] [int] IDENTITY(1,1) NOT NULL,
	[tablamaestra_descripcion] [varchar](100) NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_tabla_maestra] PRIMARY KEY CLUSTERED 
(
	[tablamaestra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tablamaestradetalle]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tablamaestradetalle](
	[tablamaestradetalle_id] [int] IDENTITY(1,1) NOT NULL,
	[tablamaestra_id] [int] NOT NULL,
	[tablamaestradetalle_descripcion_id] [int] NULL,
	[tablamaestradetalle_descripcion] [varchar](100) NULL,
	[tablamaestradetalle_orden] [int] NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_tablamaestradetalle] PRIMARY KEY CLUSTERED 
(
	[tablamaestradetalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 04/08/2017 12:23:55 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_nombre] [varchar](50) NULL,
	[usuario_contraseña] [varchar](50) NULL,
	[usuario_razonsocial] [varchar](50) NULL,
	[usuario_ruc] [varchar](12) NULL,
	[usuario_email] [varchar](50) NULL,
	[usuario_telefono] [varchar](12) NULL,
	[usuario_foto_url] [varchar](50) NULL,
	[usuario_presentacion] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[usuario_creacion] [varchar](50) NULL,
	[usuario_modificacion] [varchar](50) NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_modificacion] [datetime] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cancha] ON 

INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [cancha_distrito_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [Cancha_PrecioxHora], [Cancha_ImagenUrl]) VALUES (1, 1, N'La 7', N'(Colegio San Juan Macias)', 1, 2, 1, N'master', NULL, CAST(0x0000A7BF017C8ED1 AS DateTime), NULL, CAST(80.00 AS Decimal(6, 2)), N'1.jpg')
INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [cancha_distrito_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [Cancha_PrecioxHora], [Cancha_ImagenUrl]) VALUES (2, 1, N'La 10', N'Campo deportivo Exclusivo', 1, 1, 1, N'master', NULL, CAST(0x0000A7BF017C9C91 AS DateTime), NULL, CAST(100.00 AS Decimal(6, 2)), N'2.jpg')
INSERT [dbo].[cancha] ([cancha_id], [cancha_usuario_id], [cancha_nombre], [cancha_descripcion], [cancha_tipo_id], [cancha_distrito_id], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [Cancha_PrecioxHora], [Cancha_ImagenUrl]) VALUES (3, 2, N'Complejo Dep. La 9', N'Full Torneos', 1, 3, 1, N'master', NULL, CAST(0x0000A7BF017CED24 AS DateTime), NULL, CAST(120.00 AS Decimal(6, 2)), N'3.jpg')
SET IDENTITY_INSERT [dbo].[cancha] OFF
SET IDENTITY_INSERT [dbo].[reserva] ON 

SET IDENTITY_INSERT [dbo].[reserva] OFF
SET IDENTITY_INSERT [dbo].[tabla_maestra] ON 

INSERT [dbo].[tabla_maestra] ([tablamaestra_id], [tablamaestra_descripcion], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (1, N'Tipo_cancha', N'master', NULL, NULL, NULL, 1)
INSERT [dbo].[tabla_maestra] ([tablamaestra_id], [tablamaestra_descripcion], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (2, N'Distrito', N'master', NULL, NULL, NULL, 1)
INSERT [dbo].[tabla_maestra] ([tablamaestra_id], [tablamaestra_descripcion], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (3, N'Servicios', N'master', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tabla_maestra] OFF
SET IDENTITY_INSERT [dbo].[tablamaestradetalle] ON 

INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (1, 1, 1, N'5x5', 1, N'master', NULL, NULL, NULL, 1)
INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (2, 1, 2, N'6x6', 2, N'master', NULL, NULL, NULL, 1)
INSERT [dbo].[tablamaestradetalle] ([tablamaestradetalle_id], [tablamaestra_id], [tablamaestradetalle_descripcion_id], [tablamaestradetalle_descripcion], [tablamaestradetalle_orden], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion], [activo]) VALUES (3, 1, 3, N'7x7', 3, N'master', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tablamaestradetalle] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([usuario_id], [usuario_nombre], [usuario_contraseña], [usuario_razonsocial], [usuario_ruc], [usuario_email], [usuario_telefono], [usuario_foto_url], [usuario_presentacion], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (1, N'adsf', N'adf', N'adsf', N'ads', N'f', N'sadf', N'dfa', N'asdf', 1, N'master', NULL, CAST(0x0000A7BF017C8501 AS DateTime), NULL)
INSERT [dbo].[usuario] ([usuario_id], [usuario_nombre], [usuario_contraseña], [usuario_razonsocial], [usuario_ruc], [usuario_email], [usuario_telefono], [usuario_foto_url], [usuario_presentacion], [activo], [usuario_creacion], [usuario_modificacion], [fecha_creacion], [fecha_modificacion]) VALUES (2, N'aef', N'asdfsad', N'fadsf', N'sadf', N'dsfa', N'sadf', N'sdf', N'asdf', 1, N'master', NULL, CAST(0x0000A7BF017CE3C5 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[usuario] OFF
ALTER TABLE [dbo].[cancha] ADD  CONSTRAINT [DF_cancha_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tabla_maestra] ADD  CONSTRAINT [DF_tabla_maestra_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tablamaestradetalle] ADD  CONSTRAINT [DF_tablamaestradetalle_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_activo]  DEFAULT ((1)) FOR [activo]
GO
USE [master]
GO
